<!DOCTYPE html>

<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="../../../img/icon/icono.png">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>The Fut Palace</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../../css/nav/styles_camisetas.css">
</head>

<body>
    <header>
        <a class="logo" href="../../../index.html"><img src="../../../img/logo.jpg" alt="logo"></a>
        <nav>
            <ul class="nav__links">
                <li><a href="camisetas.html">Camisetas</a></li>
                <li><a href="#">Chandals</a></li>
                <li><a href="#">Sudaderas</a></li>
                <li><a href="#">NBA</a></li>
                <li><a href="#">Accesorios</a></li>
            </ul>
        </nav>
        <a class="cta" href="../../contacto.html">Pedidos</a>
        <p class="menu cta">Productos</p>
    </header>
    <div class="overlay">
        <a class="close">&times;</a>
        <div class="overlay__content">
            <a href="#">Camisetas</a>
            <a href="#">Chandals</a>
            <a href="#">Sudaderas</a>
            <a href="#">NBA</a>
            <a href="#">Accesorios</a>
            <a href="../../contacto.html">Pedidos</a>
        </div>
    </div>
    <!--LIGAS-->
    <div>
        <a href="laliga.html"><img src="../../../img/banners-ligas/laliga.jpg" width="100%"></a>
    </div>
    <div>
        <a href="premier.html"><img src="../../../img/banners-ligas/premier.jpg" width="100%"></a>
    </div>
    <div>
        <a href="seriea.html"><img src="../../../img/banners-ligas/seriea.jpg" width="100%"></a>
    </div>
    <div>
        <a href="ligue1.html"><img src="../../../img/banners-ligas/ligue1.jpg" width="100%"></a>
    </div>
    <div>
        <a href="bundesliga.html"><img src="../../../img/banners-ligas/bundes.jpg" width="100%"></a>
    </div>
    <footer>
        <div class="container-footer-all">
            <div class="container-body">
                <div class="colum1">
                    <h1>Sobre nosotros</h1>
                    <p>Buenas, somos 4 chicos, 3 de Sevilla y 1 de Barcelona y estamos aquí para repartir la magia del fútbol a una calidad/precio inigualables, este proyecto fue pensado por uno de los integrantes y entre todos hemos hecho posible esto.
                        Gracias a todos ustedes.</p>
                </div>
                <div class="colum2">
                    <h1>Redes Sociales</h1>
                    <div class="contairner-redes-sociales">
                        <a href="https://www.facebook.com/TheFutPalace/"><img src="../../../img/icon/facebook.png"></a>
                        <label>Síguenos en Facebook</label>
                    </div>
                    <div class="contairner-redes-sociales">
                        <a href="https://www.instagram.com/thefutpalace/"><img src="../../../img/icon/instagram.png"></a>
                        <label>Síguenos en Instagram</label>
                    </div>
                </div>
                <div class="colum3">
                    <h1>Información Contactos</h1>
                    <div class="contairner-info">
                        <img src="../../../img/icon/smartphone.png">
                        <label>+34 634431794</label>
                    </div>
                    <div class="contairner-info">
                        <img src="../../../img/icon/contact.png">
                        <label>thefutpalace@gmail.com</label>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>