* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 4%;
    background-color: #303030;
}

.alerta {
    text-align: center;
    padding: 1% 0% 1% 0%;
    background-color: gray;
    font-size: 0.9vw;
}

.contairner-info a {
    color: white;
    text-decoration: none;
}


/*-----------------------------------SCROLL----------------------------------------------------------*/

body::-webkit-scrollbar {
    width: 12px;
    /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: #303030;
    /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: #7fb12e;
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 3px solid #303030;
    /* creates padding around scroll thumb */
}


/*-----------------------------------ESTILOS IMAGENES----------------------------------------------------------*/

.row:after {
    content: "";
    display: table;
    clear: both;
}

.four-column {
    float: left;
    width: 25%;
    padding: 2%;
}

.four-column p {
    text-align: center;
    padding: 1% 0%;
    font-size: 1vw;
}

.four-column img {
    width: 100%;
}

.three-column {
    float: left;
    width: 33.33%;
    padding: 2%;
}

.three-column p {
    text-align: center;
    padding: 1% 0%;
    font-size: 1vw;
}

.three-column img {
    width: 100%;
}

.precio {
    color: red;
}

.logo {
    cursor: pointer;
}


/*-----------------------------------NAVEGADOR NO MOVIL----------------------------------------------------------*/

.nav__links a,
.cta,
.overlay__content a {
    font-weight: 500;
    color: #edf0f1;
    text-decoration: none;
    font-size: 1.2vw;
}

.nav__links {
    list-style: none;
    display: flex;
}

.nav__links li {
    padding: 0px 20px;
    font-size: 1.3vw;
}

.nav__links li a {
    transition: color 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #7fb12e;
}

.cta {
    padding: 9px 25px;
    background-color: #7fb12e;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease 0s;
}

.cta:hover {
    background-color: #7fb12e;
}


/*ESTILOS NAVEGADOR MOVIL*/

.menu {
    display: none;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: #24252a;
    overflow-x: hidden;
    transition: width 0.5s ease 0s;
}

.overlay--active {
    width: 100%;
}

.overlay__content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.overlay a {
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: color 0.3s ease 0s;
}

.overlay a:hover,
.overlay a:focus {
    color: #7fb12e;
}

.overlay .close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: #edf0f1;
}

@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px;
    }
    .overlay .close {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

@media only screen and (max-width: 900px) {
    .nav__links,
    .cta {
        display: none;
        font-size: 100%;
    }
    .menu {
        display: initial;
    }
    .four-column p {
        text-align: center;
        font-size: 2.6vw;
    }
    .four-column {
        width: 50%;
    }
    .three-column p {
        text-align: center;
        font-size: 2.6vw;
    }
    .three-column {
        width: 50%;
    }
    .alerta {
        font-size: 2.2vw;
        padding: 2% 0% 2% 0%;
    }
}


/*-------------------------------------------FOOTER--------------------------------------------------------------------------*/

footer {
    width: 100%;
    background: #303030;
    color: white;
}

.container-footer-all {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 40px;
}

.container-body {
    display: flex;
    justify-content: space-between;
}

.colum1 {
    max-width: 400px;
}

.colum1 h1 {
    font-size: 22px;
}

.colum1 p {
    font-size: 14px;
    color: white;
    margin-top: 20px;
}

.colum2 {
    max-width: 400px;
}

.colum2 h1 {
    font-size: 22px;
}

.contairner-redes-sociales {
    margin-top: 20px;
    display: flex;
}

.contairner-redes-sociales img {
    width: 36px;
    height: 36px;
}

.contairner-redes-sociales label {
    margin-top: 10px;
    margin-left: 20px;
    color: white;
}

.colum3 {
    max-width: 400px;
}

.colum3 h1 {
    font-size: 22px;
}

.contairner-info {
    margin-top: 20px;
    display: flex;
}

.contairner-info img {
    width: 36px;
    height: 36px;
}

.contairner-info label {
    margin-top: 10px;
    margin-left: 20px;
    max-width: 140px;
}

.container-footer {
    width: 100%;
    background: #303030;
}

.footer {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

@media screen and (max-width: 1100px) {
    .container-body {
        flex-wrap: wrap;
    }
    .colum1 {
        max-width: 100%;
    }
    .colum2,
    .colum3 {
        margin-top: 40px;
    }
}