* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 4%;
    background-color: #303030;
}

.alerta {
    text-align: center;
    padding: 1% 0% 1% 0%;
    background-color: gray;
    font-size: 0.9vw;
}

.contairner-info a {
    color: white;
    text-decoration: none;
}


/*-----------------------------------SCROLL----------------------------------------------------------*/

body::-webkit-scrollbar {
    width: 12px;
    /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: #303030;
    /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: #7fb12e;
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 3px solid #303030;
    /* creates padding around scroll thumb */
}


/*-----------------------------------ESTILOS IMAGENES----------------------------------------------------------*/

.row:after {
    content: "";
    display: table;
    clear: both;
}

.four-column {
    float: left;
    width: 25%;
    padding: 2%;
}

.four-column p {
    text-align: center;
    padding: 1% 0%;
    font-size: 1vw;
}

.four-column img {
    width: 100%;
}

.three-column {
    float: left;
    width: 33.33%;
    padding: 2%;
}

.three-column p {
    text-align: center;
    padding: 1% 0%;
    font-size: 1vw;
}

.three-column img {
    width: 100%;
}

.precio {
    color: red;
}

.logo {
    cursor: pointer;
}


/*-----------------------------------NAVEGADOR----------------------------------------------------------*/

ul,
ol {
    list-style: none;
}

.nav {
    margin: auto;
    width: 500px;
}

.nav>li {
    float: left;
}

.nav li a {
    background-color: #303030;
    color: #fff;
    text-decoration: none;
    padding: 10px 12px;
    display: block;
    font-size: 15px;
}

.nav li a:hover {
    background-color: #434343;
}

.nav li ul {
    display: none;
    position: absolute;
    min-width: 150px;
}

.nav li:hover>ul {
    display: block;
}

.nav li ul li {
    position: relative;
}

.nav li ul li ul {
    right: -140px;
    top: 0px;
}

@media only screen and (max-width: 900px) {
    .four-column p {
        text-align: center;
        font-size: 2.6vw;
    }
    .four-column {
        width: 50%;
    }
    .three-column p {
        text-align: center;
        font-size: 2.6vw;
    }
    .three-column {
        width: 50%;
    }
    .responsive-imagen-principio {
        width: 100%;
    }
}


/*-------------------------------------------FOOTER--------------------------------------------------------------------------*/

footer {
    width: 100%;
    background: #303030;
    color: white;
}

.container-footer-all {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 40px;
}

.container-body {
    display: flex;
    justify-content: space-between;
}

.colum1 {
    max-width: 400px;
}

.colum1 h1 {
    font-size: 22px;
}

.colum1 p {
    font-size: 14px;
    color: white;
    margin-top: 20px;
}

.colum2 {
    max-width: 400px;
}

.colum2 h1 {
    font-size: 22px;
}

.contairner-redes-sociales {
    margin-top: 20px;
    display: flex;
}

.contairner-redes-sociales img {
    width: 36px;
    height: 36px;
}

.contairner-redes-sociales label {
    margin-top: 10px;
    margin-left: 20px;
    color: white;
}

.colum3 {
    max-width: 400px;
}

.colum3 h1 {
    font-size: 22px;
}

.contairner-info {
    margin-top: 20px;
    display: flex;
}

.contairner-info img {
    width: 36px;
    height: 36px;
}

.contairner-info label {
    margin-top: 10px;
    margin-left: 20px;
    max-width: 140px;
}

.container-footer {
    width: 100%;
    background: #303030;
}

.footer {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

@media screen and (max-width: 1100px) {
    .container-body {
        flex-wrap: wrap;
    }
    .colum1 {
        max-width: 100%;
    }
    .colum2,
    .colum3 {
        margin-top: 40px;
    }
}