<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contactanos</title>
    <link rel="stylesheet" href="../css/contacto.css">
</head>

<body>

    <form class="form">
        <h2>CONTACT US</h2>
        <p type="Nombre:"><input placeholder="Escribe aquí tu nombre.."></input>
        </p>
        <p type="Dirección:"><input placeholder="Escribe aquí tu dirección.."></input>
        </p>
        <p type="Pueblo o ciudad:"><input placeholder="Escribe tu lugar de residencia.."></input>
        </p>
        <p type="Provincia:"><input placeholder="Escribe aquí tu provinicia de residencia.."></input>
        </p>
        <p type="Pais:"><input placeholder="Escribe aquí tu país de residencia.."></input>
        </p>
        <p type="CodPostal:"><input placeholder="Escribe aquí el codpostal de tu lugar de residencia.."></input>
        </p>
        <p type="Pedido:"><input placeholder="Escribe aquí tu pedido.."></input>
        </p>
        <button>Send Message</button>
        <div>
            <span class="Telefono de conacto"></span> +34 634 431 794
            <span class="Correo de contacto"></span> thefutpalace@gmail.com
        </div>
    </form>
</body>

</html>